In [20]:
import pandas as pd
import numpy as np

In [21]:
population = pd.read_csv('../data/dist-population.csv')

In [22]:
results = pd.read_csv('../data/EU-referendum-result-data.csv')

In [23]:
spending = pd.read_csv('../data/spending.csv')

In [36]:
def gbp_to_float(str):
    str.replace('£', '')
    return float

In [15]:
spending.dtypes

my_eu_id                           object
postcode                           object
project_title                      object
organisation_name                  object
eu_contribution_gbp                object
project_eu_contribution_gbp        object
project_total_cost_gbp             object
start_date                         object
end_date                           object
project_url                        object
organisation_url                   object
my_eu_url                          object
parliamentary_constituency_name    object
dtype: object

In [34]:
spending.eu_contribution_gbp = spending.eu_contribution_gbp.replace('£','')

In [35]:
spending.eu_contribution_gbp

0          £106,135.80
1          £750,031.00
2          £239,786.00
3          £211,645.00
4          £530,670.00
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10       £2,724,984.00
11       £4,722,910.00
12          £24,669.00
13          £22,187.00
14       £2,413,553.00
15       £1,700,601.00
16          £65,918.00
17                 NaN
18                 NaN
19          £37,036.00
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24                 NaN
25                 NaN
26         £239,256.00
27          £81,346.00
28          £41,062.00
29           £8,226.00
             ...
47974       £60,000.00
47975       £60,000.00
47976              NaN
47977              NaN
47978              NaN
47979              NaN
47980              NaN
47981      £500,021.00
47982              NaN
47983              NaN
47984              NaN
47985              NaN
47986              NaN
47987              NaN
47988              NaN
47989              NaN
47990       £32,861.00
47991              NaN
47992              NaN
47993              NaN
47994              NaN
47995              NaN
47996              NaN
47997              NaN
47998              NaN
47999    £1,994,854.00
48000        £7,825.00
48001              NaN
48002              NaN
48003      £315,703.00
Name: eu_contribution_gbp, Length: 48004, dtype: object